parameters:
  level: max
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - app/
  tmpDir: storage/framework/cache/phpstan
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phar://./vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
